body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: rgba(111, 93, 93, 0.25); */
    background-image: linear-gradient(90deg, rgba(0, 0, 255, 0.429), rgba(255, 0, 0, 0.422));
    color: white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.home_wrapper h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 800;
}

.home_wrapper p {
    margin-bottom: 20px; 
    font-size: 20px;
    font-weight: 500;
}

.home_wrapper .btn {
    margin-bottom: 10px; 
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.about_wrapper {
    text-align: center;
    margin-bottom: 80px;
}

.about_wrapper h1 {
    color: rgba(30, 0, 255, 0.592);
    font-size: 35px;
    font-weight: 700;
}

.about_wrapper h3 {
    color: rgba(230, 19, 19, 0.537);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about_wrapper h2 {
    background: linear-gradient(90deg,rgba(0, 0, 255, 0.656), rgba(255, 0, 0, 0.649));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: 500;
}

.about_wrapper p {
    text-align: center;
    font-size: 15px;
    max-width: 50%;
    margin: 0 auto;
    padding: 0 18px;
}

.team_wrapper {
    box-sizing: border-box;
    margin: 0 40px;
}

.tournament_wrapper {
    margin: 50px 0;
    width: 100%;
    min-height: 45vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.content-section {
    text-align: center;
    padding: 10px; 
}

.content-section h3 {
    margin-top: 50px;
    color: lightblue;
    font-weight: 700;
}

.content-section p {
    margin-top: 35px;
    font-size: 18px;
}

.video-section {
    padding: 10px; 
}

.video-section video {
    width: 100%;
    border-radius: 10px;
}

.showcase_wrapper {
    box-sizing: border-box;
    margin: 20px 100px;
}

.newsletter_wrapper {
    background-color: #f8f9fa; 
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.newsletter_wrapper img {
    max-width: 50px; 
}

.newsletter_wrapper span {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
    display: block;
}

.newsletter_wrapper .input-group {
    max-width: 500px;
    margin: 20px auto; 
}

.newsletter_wrapper .form-control {
    border-radius: 0;
    border: 1px solid #ced4da;
}

.newsletter_wrapper .btn-success {
    border-radius: 0;
}

.footer-wrapper {
    background-color: rgba(4, 4, 184, 0.907); 
    color: #fff; 
    margin: 5px 15px;
}

footer {
    padding: 20px 0;
}

footer .rounded-circle {
    border-radius: 50%;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

footer p {
    text-align: center;
    font-size: 15px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    text-decoration: none; 
    transition: color 0.3s;
}

footer .text-center {
    background-color: rgba(255, 0, 0, 0.649); 
    padding: 10px 0;
}

