body {
    background-color: beige;
    text-align: center;
}

header , footer {
    color: white;
    background-color: black;
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}

h2 {
    color: rgb(136, 9, 136);
}

#about p {
    background-color: rgba(220, 220, 220, 0.942);
    padding: 15px;
}

.myServices p {
    background-color: white;
    padding: 10px;
    margin: 5px;
    text-align: left;
}